@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




.introLoader {
    height: 100vh;
    z-index: 100;
    background: rgba(255, 255, 255, 0.75);
    max-width: 100%;
}

.helloIntro {
    position: relative;
    top: 50%;
    text-align: center;
    color: rgba(25, 25, 25, .75);
    display: block;
    font-family: 'Lato', sans-serif;
    font-size: 180%;
    cursor: default;
}

@media only screen and (max-width: 641px) {
    .helloIntro {
        font-size: 0.6em;
    }
}

.helloIntro:after {
    display: inline-block;
    vertical-align: -0.15em;
    width: 0.10em;
    height: 1em;
    margin-left: 5px;
    background: rgba(25, 25, 25, .75);
    -webkit-animation: cursor-blink 400ms steps(1) infinite;
    -moz-animation: cursor-blink 400ms steps(1) infinite;
    animation: cursor-blink 400ms steps(1) infinite;
    content: '';
}

body.noscroll {
    overflow: hidden;
    position: fixed; }


@-webkit-keyframes cursor-blink {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-moz-keyframes cursor-blink {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes cursor-blink {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/* glitch effect */
.visualGlitch {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    -webkit-transition: opacity 100ms ease-out;
    -moz-transition: opacity 100ms ease-out;
    transition: opacity 100ms ease-out;
    background: rgba(25, 25, 25, .75);
}

.visualGlitch.active {
    opacity: 1;
}


@media only screen and (max-width: 641px) {
    img.phone-accent-pull-left {
        margin-top: 4em;
        position: relative;
        top: auto;
        right: auto;
        height: auto;
        max-width: 100%; 
    } 
}


@layer base {
    html {
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    }
  }

